In [1]:
s = "Ravindra"

In [2]:
s[0]

'R'

In [17]:
s1 = "I\'am in Bangalore"

In [18]:
s1

"I'am in Bangalore"

In [1]:
s = "This is ravindra's laptop"

In [31]:
# How to use Quotes in string

In [2]:
s

"This is ravindra's laptop"

In [4]:
print("I am'n bangalore" )

I am'n bangalore

In [30]:
# String Slicing

In [5]:
s[3:8]

's is '

In [6]:
s[:5]

'This '

In [7]:
s[-1]

'p'

In [8]:
# String concatination

In [18]:
a = "Ravindra"
b = " Reddy"

In [19]:
print(a + b)

Ravindra Reddy

In [20]:
# String formatters

In [21]:
name = "Ravindra"

In [23]:
print(f"Today {name} Birthday")

Today Ravindra Birthday

In [24]:
print("Today {} Birthday".format(name))

Today Ravindra Birthday

In [28]:
print("Today {}, {a} Birthady".format(name, a = "Afrid"))

Today Ravindra, Afrid Birthady

In [29]:
print("Today %s, %s Birthday"%("Ravi","afrid"))

Today Ravi, afrid Birthday

In [32]:
# String Methods

In [34]:
s = "Ravindra"

In [35]:
s

'Ravindra'

In [36]:
len(s)

8

In [37]:
len(s[5:])

3

In [38]:
s[5:]

'dra'

In [39]:
s.islower()

False

In [42]:
s.isupper()

False

In [43]:
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [45]:
s.upper()

'RAVINDRA'

In [46]:
s

'Ravindra'

In [47]:
id(s)

139720325145392

In [48]:
id(s.upper())

139720325599792

In [49]:
s.lower()

'ravindra'

In [50]:
a = " Ravi  "

In [51]:
a.strip()

'Ravi'

In [52]:
s.isdigit()

False

In [53]:
s.isalpha()

True

In [54]:
s.isalnum()

True

In [55]:
s.startswith("R")

True

In [56]:
s.endswith('Y')

False

In [57]:
s.find("R")

0

In [58]:
s.find("s")

-1

In [60]:
s.replace("R","r")

'ravindra'

In [61]:
s.replace("r","R")

'RavindRa'

In [62]:
s.replace("Ra","rA")

'rAvindra'

In [65]:
s = "I am in bangalore"

In [66]:
s

'I am in bangalore'

In [71]:
a = s.split()

In [72]:
a

['I', 'am', 'in', 'bangalore']

In [73]:
b = s.split("a")

In [74]:
b

['I ', 'm in b', 'ng', 'lore']

In [75]:
c = s.split("in")

In [76]:
c

['I am ', ' bangalore']

In [80]:
"".join(a)

'Iaminbangalore'

In [81]:
" ".join(a)

'I am in bangalore'

In [82]:
"a".join(b)

'I am in bangalore'

In [83]:
"in".join(c)

'I am in bangalore'

In [85]:
s.swapcase()

'i AM IN BANGALORE'

In [86]:
s.capitalize()

'I am in bangalore'

In [87]:
s = "ravi"

In [88]:
s.capitalize()

'Ravi'

In [89]:
s = "i am in bangalore"

In [90]:
s.title()

'I Am In Bangalore'

In [104]:
help(s.center)

Help on built-in function center:

center(...) method of builtins.str instance
    S.center(width[, fillchar]) -> str

    Return S centered in a string of length width. Padding is
    done using the specified fill character (default is a space)

In [102]:
s.center(50,"*")

'****************i am in bangalore*****************'