In [3]:
r=input("enter name").split()

enter nameravindra reddy

In [6]:
a,b=input("fname,lname").split()
print("fname:-",a)
print('lname:-',b)

fname,lnameravindra reddy
fname:- ravindra
lname:- reddy

In [8]:
a,b=map(str,input("two names").split())
print("fname:-",a)
print('lname:-',b)

two namesravindra reddy
fname:- ravindra
lname:- reddy

In [12]:
name,age=input("enter name age  ").split()

enter name age  Ravindrareddy 22

In [13]:
print(name)
print(age)

Ravindrareddy
22

In [15]:
name="M Ravindra Reddy"
res=""
for i in name.lower().split():
    res+=i[0]
print(res)

mrr

In [6]:
x,y = input("enter no").split()
print(x)
print(y)

enter no2 3
2
3

In [7]:
x,y = map(str, input().split("-"))
print("first name",x)
print("last name",y)

ravindra-reddy
first name ravindra
last name reddy