In [3]:
s = "Ravindra Reddy"

In [4]:
s.split()

['Ravindra', 'Reddy']

In [9]:
s.split()[::-2]

['Reddy']

In [25]:
ss = " "

for i in s.split(" "):
    
    if i not in ss:
        
        ss = i + ss
        
        
print(ss)

ReddyRavindra

In [26]:
name = "Ravindra"

In [29]:
print(f"the name is {name}")

the name is Ravindra

In [34]:
print("my name is {}".format(name))

my name is Ravindra

In [1]:
t = (1,2,3,4)

In [2]:
list(t)

[1, 2, 3, 4]

In [4]:
list(t).append(5)

In [5]:
t

(1, 2, 3, 4)

In [6]:
t2 = (5,6,7,8)

In [7]:
t1 = t + t2

In [8]:
t

(1, 2, 3, 4)

In [9]:
t1

(1, 2, 3, 4, 5, 6, 7, 8)

In [10]:
t = t + t2

In [11]:
t

(1, 2, 3, 4, 5, 6, 7, 8)

In [12]:
t

(1, 2, 3, 4, 5, 6, 7, 8)

In [13]:
print(9 in t)

False

In [14]:
print(9 not in t)

True

In [17]:
s = "Ravindra"

In [18]:
print(ascii(s))

'Ravindra'

In [23]:
def ro_left(nums):
    
    return [nums[1], nums[2], nums[0]]

ro_left([1,2,3])

[2, 3, 1]

In [27]:
def revs(nums):
    
    return nums.reverse()

revs([1,2,3])

In [29]:
s = [1,2,3]

In [30]:
s.reverse()

In [31]:
s

[3, 2, 1]

In [20]:
def squr_ele(nums):
    
    res = "  "
    
    for i in str(nums):
        
        res += str(int(i)**2)
        
        return int(res)

squr_ele(3)

9

In [1]:
l = ["a","b","c",3,4,5]

In [5]:
def my_sum(l):
    total = []
    for i in l:
        if isinstance(i,int):
            total.append(i+10)
        else:
            total.append(i)
    return total


my_sum(l)

['a', 'b', 'c', 13, 14, 15]

In [6]:
for row in range(7):
    for col in range(5):
        if (col == 0) or ((col == 4) and (row == 1 or row == 2) or (row == 0 or row == 4 and col>0 and col<4):
            print("*", end = "")
        else:
            print(end = " ")
    print()

*****
*   *
*   *
*
****
*
*

In [12]:
a,b=10,20
def fun(a,b):
    print(a+b)
    print(globals()['a']+globals()['b'])
    
    
fun(30,40)

70
30

In [2]:
t = (1,2,3)

In [8]:
a,b,c = t

In [4]:
a

1

In [5]:
b

2

In [6]:
c

3

In [11]:
for i in range(7):
    if i == 4:
        continue
    print(i)

0
1
2
3
5
6